@import '/src/app/Global.scss';
.doctor-on-demand {
    margin-top: 100px;
    padding: 100px 200px 100px 200px;
background-color: $base-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.doctor-on-demand h4 {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin: 16px 0 16px 0;
}


.sides_1 {
    width: 100%;
justify-content: center;
align-items: center;
}