.hero-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 75px;
  background-image: url("https://images.unsplash.com/photo-1629909613654-28e377c37b09?ixlib=rb-4.0.3&dl=benyamin-bohlouli-e7MJLM5VGjY-unsplash.jpg&w=1920&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.p-2 {
  padding-left: 20px;
}

.hero-1 p {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-family: 400;
}
.hero-1 span {
  color: green;
}

.hero-1 {
  justify-content: center;
  text-align: center;
  margin-bottom: -5px;
}
.hero-1 h2 {
  font-size: 35px;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.hero p {
  color: white;
}
.hero p:hover {
  color: green;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auto-p-1 {
  position: relative;
  top: 30%;
}

.image-div {
  height: 100%;
}
