$base-color: #23ce6b;
$body-color: rgb(214, 211, 211);
$navbar-a-color: white;

// fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background-color: $body-color;
	margin: 0;
	padding: 0;
}
nav {
	position: absolute;
	right: 3%;
	padding: 15px 20px 50px 20px;
	width: 100%;
	// background-color: $base-color;
}
.setMobilemenuhide {
	display: none;
}
.desktop-view {
	display: block;
}
.MobileMenuOpenButton {
	display:none;
}
.navbar-logo {
	position: relative;
}
@media only screen and (max-width:600px) {
	.navbar {
		padding: 0 !important;
	}
	.desktop-view {
		display: none;
	}
	.MobileMenuOpenButton button {
		color: white;
		border: none;
		background-color: #08df61;
	}
	.setMobilemenuhide {
		display: none;
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: black;
		height: 100%;
		width: 100%;
		padding-top: 20px;
		margin: 0;
	}
	.setMobilemenushow {
		display: BLOCK;
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: black;
		height: 100%;
		width: 100%;
		padding-top: 20px;
		margin: 0;
		z-index: 10;
	}
	.mobile-view-button {
		float: right;

	}
	.navbar-links {
		padding-top: 100px;
		float: none !important;
		text-align: center;
	}
	.navbar-links ul {
		display: block !important;
		padding-left: 10px !important;

	}
	.MobileMenuOpenButton {
		position: fixed;
		top: 2%;
		right: 4%;
		z-index: 11;
		display: block;

	}

}
@media only screen and (max-width:900px) {

}
.navbar-collectio {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.nav-link {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: $navbar-a-color;
	text-decoration: none;
	padding: 6px 0 10px 0;
	font-size: 15px;
}
.nav-link :hover {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: $navbar-a-color;
	text-decoration: none;
	padding: 10px 0 10px 0;
	font-size: 15px;
	line-height: 35px;
	background-color: red;
}
.navbar-links {
	float: right;
}

.navbar-links ul {
	display: flex;
	flex-direction: row;
	gap: 10px;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.navbar-links ul li a:hover {
	text-decoration: underline;
}

.navbar .navbar-links ul li {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.text-decoration-none {
	text-decoration: none;
}

.button-style-1 {
	background-color: red;
	padding: 8px;
	border: 2px solid transparent;
	color: white;
}
.button-style-1 a {
	color: white;
}

.p-0 {
	padding: 0 !important;
}
.m-0 {
	margin: 0 !important;
}


.button-style-1 li button {
	padding: 20px;
}

.navBar {
	position: relative;
}

.navBar button {
	position: fixed;
	left: 40px;
	top: 40px;
	z-index: 10;
	cursor: pointer;
}

.menuNav {
	overflow-y: scroll;
	list-style: none;
	position: fixed;
	top: 0;
	background: darkcyan;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 0;
	overflow: hidden;
	max-width: 290px;
	z-index: 9;
}

.menuNav.showMenu {
	width: 100%;
}

a {
	display: block;
	padding: 10px 40px;
	text-decoration: none;
	color: #3fffd2;
	text-transform: uppercase;
	font-weight: bold;
}

.menuNav li:first-child {
	margin-top: 7rem;
}

.MobileMenuOpenButton {
	position: fixed;
	top: 4;
}

.fa-phone:hover {
	transform: rotate(45deg);
}